<div class="row">
  <div class="col-sm-12">
    <div class="container pt-4">
      <button
        type="button"
        (click)="myFunctionPrevDate()"
        class="btn btn-outline-secondary"
        style="margin-bottom: 10px; width: 50px"
      >
        &laquo;
      </button>
      <button
        type="button"
        (click)="myFunctionNextdate()"
        class="btn btn-outline-secondary"
        style="margin-left: 2px; margin-left: 935px; width: 50px"
      >
        &raquo;
      </button>

      <table class="table table-striped table-bordered">
        <thead style="background-color: whitesmoke">
          <tr>
            <th>Project</th>
            <th>{{ mon }}</th>
            <th>{{ tue }}</th>
            <th>{{ wed }}</th>
            <th>{{ thur }}</th>
            <th>{{ fri }}</th>
            <th>{{ sat }}</th>
            <th>{{ sunn }}</th>
            <th style="background-color: #ddd; width: 80px; padding: 15px">
              Total Time
            </th>
          </tr>
        </thead>
        <tbody style="background-color: whitesmoke">
          <tr *ngFor="let dynamic of dynamicArray; let i = index">
            <!--
            <td (click)="deleteRow(i)">
              <i class="fa fa-trash fa-2x"></i>
            </td>
            -->
            <td>
              <select
                class="form-select"
                aria-label="Default select example"
                name="projectName"
                style="height: 32.5px; width: 280px"
                [(ngModel)]="dynamicArray[i].projectName"
                (change)="getValidationOfProject(dynamicArray[i].projectName)"
              >
                <option *ngFor="let use of projects" [value]="use.Name">
                  {{ use.Name }}
                </option>
              </select>
            </td>
            <td>
              <input
                [disabled]="MonApproval"
                name="monday"
                [(ngModel)]="dynamicArray[i].Monday"
                class="form-control"
                type="text"
                (ngModelChange)="getValidationOfValue(dynamicArray[i].Monday)"
              />
            </td>
            <td>
              <input
                [disabled]="TueApproval"
                name="tuesday"
                [(ngModel)]="dynamicArray[i].Tuesday"
                class="form-control"
                type="text"
                (ngModelChange)="getValidationOfValue(dynamicArray[i].Tuesday)"
              />
            </td>
            <td>
              <input
                [disabled]="WedApproval"
                name="wednesday"
                [(ngModel)]="dynamicArray[i].Wednesday"
                class="form-control"
                type="text"
                (ngModelChange)="
                  getValidationOfValue(dynamicArray[i].Wednesday)
                "
              />
            </td>
            <td>
              <input
                [disabled]="ThurApproval"
                name="thursday"
                [(ngModel)]="dynamicArray[i].thursday"
                class="form-control"
                type="text"
                (ngModelChange)="getValidationOfValue(dynamicArray[i].thursday)"
              />
            </td>
            <td>
              <input
                [disabled]="FriApproval"
                name="friday"
                [(ngModel)]="dynamicArray[i].Friday"
                class="form-control"
                type="text"
                (ngModelChange)="getValidationOfValue(dynamicArray[i].Friday)"
              />
            </td>
            <td>
              <input
                [disabled]="SatApproval"
                name="saturday"
                [(ngModel)]="dynamicArray[i].Saturday"
                class="form-control"
                type="text"
                readonly
              />
            </td>
            <td>
              <input
                [disabled]="SunApproval"
                name="sunday"
                [(ngModel)]="dynamicArray[i].Sunday"
                class="form-control"
                type="text"
                readonly
              />
            </td>
            <td>
              <input
                name="totalTime"
                [(ngModel)]="dynamicArray[i].TotaltimeRowwise"
                class="form-control"
                type="text"
                value=" {{ totalTimeRow[i] }}"
                readonly
              />
            </td>
          </tr>
          <!--
          <tr>
            <td (click)="addRow(i)">
              <i class="fa fa-plus fa-2x"></i>
            </td>
          </tr>
          
        -->
          <tr
            class="form-control"
            timesheet-fill-sheet
            style="margin-top: 11px; width: auto; background-color: #ccc"
          >
            <b> Total Time</b>
          </tr>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeMonCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeTueCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeWedCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeThurCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeFriCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeSatCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeSunCol }}"
              readonly
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              value=" {{ totalTimeCol }}"
              readonly
            />
          </td>
        </tbody>
      </table>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="addRow()"
        style="width: 140px"
      >
        Add New Row
      </button>
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="deleteRow()"
        style="margin-left: 10px; width: 140px"
      >
        Delete Last Row
      </button>
      <button
        type="button"
        (click)="saveEx()"
        style="margin-left: 10px"
        class="btn btn-outline-info"
        style="margin-left: 10px; width: 80px"
      >
        Save
      </button>
      <!--this div is for success message-->
      <div *ngIf="SaveMessageTemp" class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <strong>Save Successfully!</strong> Your data is successfully save in
        timesheet
      </div>
      <div style="margin-left: 5px; margin-top: 2%">
        <app-timesheetapproved></app-timesheetapproved>
      </div>
    </div>
  </div>
</div>
