<div class="card ManagerTable" style="width: 75rem">
  <div class="card-body">
    <h2 class="mangerHeading">Leave Approval</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Reason</th>
          <th scope="col">Status</th>
          <th scope="col">Leave Type</th>
          <th scope="col">Leave Applied</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of leaveData">
          <td>{{ l.name }}</td>
          <td>{{ l.email }}</td>
          <td>{{ l.fDate }}</td>
          <td>{{ l.tdate }}</td>
          <td>{{ l.reason }}</td>
          <td>{{ l.status }}</td>
          <td>{{ l.leaveType }}</td>
          <td>{{ l.LeaveApplied }}</td>
          <td>
            <input type="checkbox" [checked]="isChecked" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="abovebuttonBorder">
      <button
        type="button"
        class="btn btn-primary btn-m approove"
        (click)="aprroveLeave()"
      >
        Approve
      </button>
      <button
        type="button"
        class="btn btn-danger btn-m reject"
        (click)="leaveReject()"
      >
        Reject
      </button>
    </div>

    <div *ngIf="rejectReason" class="rejectform">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <form #myReject="ngForm">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"> Reason</label>
              <div class="col-sm-7">
                <input
                  type="text"
                  class="form-control"
                  name="reason"
                  ngModel
                  #reason="ngModel"
                  required
                />
              </div>
            </div>
          </form>
          <div class="col-sm-12">
            <button
              type="button"
              class="btn btn-primary btn-m submit"
              (click)="aprroveLeave()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
