.stricStyle{
    color: red;
    font-size: 20px;
}
.formField{
    width: 75%;
}
.error_div_height{
    color: red;
}
.chatSection{
    height: 200px;
    width: 100%;
    border-color: #cddbdd;
    background-color: #cddbdd;
    word-break: break-all;
    border-radius: 10%;
}
.chatPerson{
    margin: 10px;
    padding: 10px
}
.chatTextArea{
    margin: 10px;
    padding: 10px
}