<div class="">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="pb-2 pt-2">
        <h3>User Dashboard</h3>
      </div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Personal Information">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="empCode" class="label">Emp Code</label>
                <input type="text" class="form-control" id="empCode" disabled="true" value={{employeeAllData?.empCode}}>
              </div>
              <div class="form-group input-field">
                <label for="mname" class="label">Middle Name</label>
                <input type="text" class="form-control" id="middleName" disabled="true" value={{employeeAllData?.middleName}}>
              </div>
              <div class="form-group input-field">
                <label for="Designation" class="label">Designation</label>
                <input type="text" class="form-control" id="designation" disabled="true" value={{employeeAllData?.designation}}>
              </div>
              <div class="form-group input-field">
                <label for="dob" class="label">Date of Birth</label>
                <input type="date" class="form-control" id="dob" disabled="true" value={{employeeAllData?.dob}}>
              </div>
              <div class="form-group input-field">
                <label for="contactNo" class="label">Contact No</label>
                <input type="text" class="form-control" id="contactNo" disabled="true" value={{employeeAllData?.contactNo}}>
              </div>
              <div class="form-group input-field">
                <label for="passportNo" class="label">Passport No</label>
                <input type="text" class="form-control" id="passportNo" disabled="true" value={{employeeAllData?.passportNo}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="fname" class="label">First Name</label>
                <input type="text" class="form-control" id="fullName" disabled="true" value={{employeeAllData?.firstName}}>
              </div>
              <div class="form-group input-field">
                <label for="lname" class="label">Last Name</label>
                <input type="text" class="form-control" id="lastName" disabled="true" value={{employeeAllData?.lastName}}>
              </div>
              <div class="form-group input-field">
                <label for="dateOfJoin" class="label">Date of Joining</label>
                <input type="date" class="form-control" id="dateOfJoin" disabled="true" value={{employeeAllData?.hireDate}}>
              </div>
              <div class="form-group input-field">
                <label for="fatherName" class="label">Email Address</label>
                <input type="email" class="form-control" id="email" disabled="true" value={{employeeAllData?.emailId}}>
              </div>
              <div class="form-group input-field">
                <label for="homePhnNo" class="label">Home Phone No</label>
                <input type="text" class="form-control" id="homePhnNo" disabled="true" value={{employeeAllData?.homePhoneNo}}>
              </div>
              <div class="form-group input-field">
                <label for="pancardNo" class="label">PAN No</label>
                <input type="text" class="form-control" id="pancardNo" disabled="true" value={{employeeAllData?.panCardNo}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Qualification">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="type" class="label">Type</label>
                <input type="text" class="form-control" id="type" disabled="true" value={{employeeAllData?.qualificationInfo[0]?.type}}>
              </div>
              <div class="form-group input-field">
                <label for="qualification" class="label">Qualification</label>
                <input type="text" class="form-control" id="qualification" disabled="true" value={{employeeAllData?.qualificationInfo[0]?.qualification}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="highest" class="label">Highest</label>
                <input type="text" class="form-control" id="highest" disabled="true" value={{employeeAllData?.qualificationInfo[0]?.highest}}>
              </div>
              <div class="form-group input-field">
                <label for="comments" class="label">Comments</label>
                <input type="text" class="form-control" id="comments" disabled="true" value={{employeeAllData?.qualificationInfo[0]?.comments}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Bank Information ">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="bankType" class="label">Bank Type</label>
                <input type="text" class="form-control" id="bankType" disabled="true" value={{employeeAllData?.bankInfo[0]?.bankType}}>
              </div>
              <div class="form-group input-field">
                <label for="accNo" class="label">Bank Acc No</label>
                <input type="text" class="form-control" id="accNo" disabled="true" value={{employeeAllData?.bankInfo[0]?.bankAccNo}}>
              </div>
              <div class="form-group input-field">
                <label for="routingNumber" class="label">Routing Number</label>
                <input type="text" class="form-control" id="routingNumber" disabled="true" value={{employeeAllData?.bankInfo[0]?.routingNumber}}>
              </div>
              <div class="form-group input-field">
                <label for="bankActive" class="label">Active</label>
                <input type="text" class="form-control" id="bankActive" disabled="true" value={{employeeAllData?.bankInfo[0]?.active}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="bankName" class="label">Bank Name</label>
                <input type="text" class="form-control" id="bankName" disabled="true" value={{employeeAllData?.bankInfo[0]?.bankName}}>
              </div>
              <div class="form-group input-field">
                <label for="bankAddress" class="label">Bank Address</label>
                <input type="text" class="form-control" id="bankAddress" disabled="true" value={{employeeAllData?.bankInfo[0]?.bankAddress}}>
              </div>
              <div class="form-group input-field">
                <label for="ifsCode" class="label">IFS Code</label>
                <input type="text" class="form-control" id="ifsCode" disabled="true" value={{employeeAllData?.bankInfo[0]?.ifsCode}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Address ">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="addressType" class="label">Address Type</label>
                <input type="text" class="form-control" id="addressType" disabled="true" value={{employeeAllData?.addressInfo[0]?.addressType}}>
              </div>
              <div class="form-group input-field">
                <label for="addLine2" class="label">Address Line2</label>
                <input type="text" class="form-control" id="addLine2" disabled="true" value={{employeeAllData?.addressInfo[0]?.addressLine2}}>
              </div>
              <div class="form-group input-field">
                <label for="country" class="label">State</label>
                <input type="text" class="form-control" id="country" disabled="true" value={{employeeAllData?.addressInfo[0]?.state}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="addLine1" class="label">Address Line1</label>
                <input type="text" class="form-control" id="addLine1" disabled="true" value={{employeeAllData?.addressInfo[0]?.addressLine1}}>
              </div>
              <div class="form-group input-field">
                <label for="city" class="label">City</label>
                <input type="text" class="form-control" id="city" disabled="true" value={{employeeAllData?.addressInfo[0]?.city}}>
              </div>
              <div class="form-group input-field">
                <label for="zip" class="label">ZIP Code</label>
                <input type="text" class="form-control" id="zip" disabled="true" value={{employeeAllData?.addressInfo[0]?.zipCode}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Current Experience ">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="company" class="label">Company Name</label>
                <input type="text" class="form-control" id="company" disabled="true" value={{employeeAllData?.currentExperience[0]?.company}}>
              </div>
              <div class="form-group input-field">
                <label for="startDate" class="label">Date of Joining</label>
                <input type="date" class="form-control" id="middleName" disabled="true" value={{employeeAllData?.currentExperience[0]?.startDate}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="designation" class="label">Designation</label>
                <input type="text" class="form-control" id="designation" disabled="true" value={{employeeAllData?.currentExperience[0]?.designation}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Previous Experience ">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="company" class="label">Company Name</label>
                <input type="text" class="form-control" id="company" disabled="true" value={{employeeAllData?.previousExperience[0]?.company}}>
              </div>
              <div class="form-group input-field">
                <label for="startDate" class="label">Date of Joining</label>
                <input type="date" class="form-control" id="middleName" disabled="true" value={{employeeAllData?.previousExperience[0]?.joiningdate}}>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="startDate" class="label">Date of Leaving</label>
                <input type="date" class="form-control" id="middleName" disabled="true" value={{employeeAllData?.previousExperience[0]?.leavingDate}}>
              </div>
              <div class="form-group input-field">
                <label for="designation" class="label">Designation</label>
                <input type="text" class="form-control" id="designation" disabled="true" value={{employeeAllData?.previousExperience[0]?.designation}}>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Reporting Manager">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="company" class="label">Reporting Manager name</label>
                <input type="text" class="form-control" id="company" disabled="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group input-field">
                <label for="designation" class="label">Employee Code</label>
                <input type="text" class="form-control" id="designation" disabled="true">
              </div>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>