<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="text-center pt-4">
        <h2>Admin Registration</h2>
      </div>
      <form class="pt-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Company Code</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company Code">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company Website</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company Website">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company EmailI'd</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company EmailI'd">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company Location</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company Location">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Company TIN/VAT No</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Company TIN/VAT No">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="text-center pt-4">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>