<!--this is welcome part-->

<div id="mySidenav" class="sidenav">
  <a
    href="#"
    routerLink="/timesheet-fill-sheet"
    routerLinkActive="active"
    id="Timesheet"
    >Timesheet</a
  >
  <!--
  <a
    href="#"
    routerLink="/timesheet-fill-sheet"
    routerLinkActive="active"
    id="Timesheet"
    >Timesheet</a
  >
  <a href="#" routerLink="/timesheet-admin" routerLinkActive="active" id="Admin"
    >Admin</a
  >
  -->
</div>
<!--<button class="button button5">Timesheet</button>-->
<section class="rowTWOwelcome">
  <!--first column -->

  <div class="columnTWOwelcome">
    <img
      src="assets\image\timesheetImage\welcome.jpg"
      alt="Platform for Communities"
      width="100%"
      height="100%"
    />
  </div>
  <!--second column-->
  <div class="columnTWOwelcome">
    <img
      src="assets\image\timesheetImage\welcome2.jpg"
      alt="Platform for Communities"
      width="100%"
      height="100%"
    />
  </div>
</section>
