<!--this is welcome part-->

<section class="rowTWOwelcome">
  <!--first column -->
  <h2 style="color: Black"><i>Hii Ashutosh</i></h2>
  <div class="columnTWOwelcome">
    <img
      src="assets\image\timesheetImage\welcome.jpg"
      alt="Platform for Communities"
      width="100%"
      height="95%"
    />
  </div>
  <!--second column-->
  <div class="columnTWOwelcome">
    <img
      src="assets\image\timesheetImage\welcome2.gif"
      alt="Platform for Communities"
      width="100%"
      height="95%"
    />
  </div>
</section>
