.ManagerTable {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
}
.card {
  background-color: whitesmoke;
}
.mangerHeading {
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  color: dodgerblue;
  padding-left: 10px;
  font-weight: bold;
}
.approove {
  width: 95px;
  margin: 15px 10px 10px 10px;
  height: 30px;
  line-height: 10px;
}
.abovebuttonBorder {
  border-width: 2px;
  border-top-style: groove;
  color: lightgrey;
}
