.ManagerTable {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.mangerHeading {
  font-size: 15px;
  line-height: 25px;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
}
.approove {
  width: 90px;
  margin: 15px 10px 10px 10px;
  height: 30px;
  line-height: 10px;
}
.empHeaderSec {
  height: 60px;
  margin: 0px 0px 0px 0px;
  width: 61rem;
  background-color: LightGrey;
}
.abovebuttonBorder {
  border-width: 2px;
  border-top-style: groove;
  color: lightgrey;
}
