<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="text-center pt-4">
        <h2>Admin Login</h2>
      </div>
      <form class="pt-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Company Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <a routerLink="/admin-registration">Click here if not registered?</a>
        <div class="text-center pt-4">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>