.example-spacer {
  flex: 1 1 auto;
}
.submit-btn {
  left: 156px;
  position: relative;
}
.pass-btn{
  left: 156px;
  position: relative;
}
.modal-head {
  position: relative;
  left: 25%;
}
.type-dropdown {
  position: relative;
  top: 8%;
}
// .create-btn{
//   position: relative;
//     left: 2%;
// }