<div class="container pt-4">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="text-center pb-4">Add Company Details</h2>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <p class="accordian-heading">Company Holiday Type</p>
          </mat-expansion-panel-header>

          <div class="personalInfo">
            <form>
              <div class="form-group input-field">
                <label for="empCode" class="label">Holiday Type Code</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Holiday Type Code"
                  name="holidayTypeCode"
                  [(ngModel)]="postHoliday.holidayCode" 
                  #HolidayTypeCode="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
                
              </div>
              <div class="form-group input-field">
                <label for="fname" class="label">Holiday Type Name</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Holiday Type Name"
                name="holidayName"
                [(ngModel)]="postHoliday.holidayName" 
                #HolidayName="ngModel" 
                required minlength="3" 
                maxlength="300"
                >
              </div>
              <div class="text-center">
                <button 
                type="submit" 
                class="btn btn-primary"
                (click)="postHolidayType()"
                >Save</button></div>
            </form>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header (click)="getHolidayType()">
            <p class="accordian-heading">Company Holiday List</p>
          </mat-expansion-panel-header>

          <div class="qualification">
            
            <form>
              <div>
                <mat-form-field class="input-field">
                  <mat-select 
                  placeholder="Holiday Type" 
                  [formControl]="toppings" 
                  [(value)]="selectedToppings" 
                  >
                    <mat-option 
                    *ngFor="let val of holidayTypeList" 
                    [value]="val.holidayName"
                    name="holidayCode"
                    (click)="holidayTypeSelection(val.holidayId)"
                    >
                    {{val.holidayName}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group input-field">
                <label for="type" class="label">Holiday Date</label>
                <input 
                  type="date" 
                  class="form-control" 
                  placeholder="Holiday Date"
                  name="holidayDate"
                  [(ngModel)]="holidayListName.holidayDate" 
                  #Holidaydate="ngModel" 
                  required minlength="3" 
                  maxlength="300"

                  >
              </div>
              <div class="form-group input-field">
                <label for="highest" class="label">Holiday Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Holiday Name"
                  name="holidayName"
                  [(ngModel)]="holidayListName.holidayName" 
                  #HolidayName="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
              </div>
              <div class="text-center">
                <button 
                type="submit" 
                class="btn btn-primary"
                (click)="postHolidayList()"
                >
                Save</button></div>
            </form>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <p class="accordian-heading">Company Weekly off Days List</p>
          </mat-expansion-panel-header>

          <div class="bankInfo">
            <form>
              <div class="form-group input-field">
                <label for="bankType" class="label">Company Off Days Code</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Company Off Days Code"
                  name="weeklyOffDays"
                  [(ngModel)]="companyOffDays.dayCode" 
                  #WeeklyOffDays="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
              </div>
              <div class="text-center">
                <button 
                  type="submit" 
                  class="btn btn-primary"
                  (click)="postWeeklyOffDays()"
                  >
                  Save</button></div>
            </form>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <p class="accordian-heading">Company Leave Information</p>
          </mat-expansion-panel-header>
          <div class="empAddress">
            <form>
              <div class="form-group input-field">
                <label for="addressType" class="label">Leave Code</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Leave Code"
                  name="leaveCode"
                  [(ngModel)]="leaveInfo.leaveCode" 
                  #LeaveCode="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
              </div>
              <div class="form-group input-field">
                <label for="addLine1" class="label">Leave Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Leave Name"
                  name="leaveName"
                  [(ngModel)]="leaveInfo.leaveName" 
                  #LeaveName="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
              </div>
              <div class="form-group input-field">
                <label for="addLine2" class="label">Leave Limit</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="addLine2" 
                  placeholder="Leave Limit"
                  name="leaveLimit"
                  [(ngModel)]="leaveInfo.leaveLimit" 
                  #Leavelimit="ngModel" 
                  required minlength="3" 
                  maxlength="300"
                  >
              </div>
              <div class="text-center">
                <button 
                  type="submit" 
                  class="btn btn-primary"
                  (click)="postLeaveInfo()"
                  >Save</button></div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>