
h2,h3,h4{
    color: rgb(4, 79, 218);
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .input-field {
    width: 34em;
  }
  .team-button {
    background-color: rgb(230, 230, 230);
    height: 427px;
    width: 100%;
  }
  


  