/*
this part for after successfuly save or approval message
*/
.alert {
  padding: 20px;
  background-color: Green;
  color: white;
  margin-top: 5px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
