ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 0 50px;
    li {
      display: flex;
      margin-bottom: 15px;
      img {
        width: 150px;
        height: 100px;
        margin-right: 10px;
        cursor: pointer;
      }
      h5 {
        font-weight: 500;
        font-size: 15px;
        text-transform: capitalize;
      }
    }
    li > img.active {
      border: 3px solid #ff1d5e;
    }
  }
