.searchBarSection{
    position: relative;
    top: 100%;
}
.searchPanelWidth{
    width: 80%;
}
.selectBox{
    position: relative;
    top: 35px;
}
.courseCards{
    position: relative;
    top: 100px;
}