.UserTimeEntry {
  margin-left: 5%;
  background-color: whitesmoke;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  padding: 2% 2% 2% 2%;
  width: 90%;
  height: 570px;
  overflow: auto;
}
