.card {
  background-color: whitesmoke;
}
.ManagerTable {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
}
.mangerHeading {
  font-size: 20px;
  line-height: 25px;

  color: dodgerblue;
}
.approove {
  width: 90px;
  margin: 5px;
  height: 30px;
  line-height: 10px;
  margin-top: 15px;
}
.reject {
  width: 90px;
  height: 30px;
  line-height: 10px;
  margin-top: 10px;
}
.abovebuttonBorder {
  border-width: 2px;
  border-top-style: groove;
}
.rejectform {
  width: 25rem;
  border-style: 5px solid darkgrey;
  margin-top: 10px;
}
.col-sm-7 {
  margin-left: 2px;
  margin-right: 2px;
}
.col-sm-3 {
  margin-left: 10px;
}
.submit {
  width: 80px;
  margin: 5px;
  height: 30px;
  line-height: 10px;
  margin-top: 15px;
  margin-left: 105px;
}
input.ng-touched.ng-invalid {
  border: 1px solid red;
}
